*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.container{
    width: 350px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.hero-image{
    width: 100%;
}

.content{
    padding: 28px 25px;
    line-height: 1.5rem ;
}

.copy{
    padding: 0px 15px;
}

h2{
    margin-bottom: 17px;
    font-weight: 900;
    font-size: 1.5rem;
    color: hsl(223, 47%, 23%);
}

.price-container{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    justify-content: space-between;
    align-items: center;
    margin: 25px 10px;
    padding: 15px 10px;
    border-radius: 10px;

}

.sub{
    margin: 3px 0 0 -38px
}

b{
    display: block;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    margin-left: 7px;
}

.link{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.link:hover{
    color: hsl(245, 74%, 64%);
}

button{
    display: block;
    border: none;
    width: 92%;
    margin-left: 10px;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 20px 20px  rgba(0,0,0,.3) ;
    font-weight: 700;
}

button:hover{
    background-color: hsl(245, 74%, 64%);
    cursor:pointer;
}

.sec-link{
    display: inline-block;
    text-decoration: none;
    margin: 25px 10px 0px 0px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.sec-link:hover{
    color: hsl(223, 47%, 23%);
}

@media (min-width:32em){
    .container{
        width: 400px;
    }

    .content{
        padding: 35px 25px;
    }

    h2{
        margin-bottom: 20px;
    }

    .price-container{
        margin: 15px 15px 25px 15px;
        align-items: center;
        justify-content: space-around;
        padding: 15px 6px;
        border-radius: 10px;
    }

    .img-icon{
        margin-left: -20px;
    }

    .sub{
        margin-left: -60px;
    }


    b{
        display: block;
        color: hsl(223, 47%, 23%);
        font-weight: 700;
        margin-left: 9px;
    }


    .link{
        color: hsl(245, 75%, 52%);
        font-weight: 700;
        margin-right: -20px;
    }

    .link:hover{
        color: hsl(245, 74%, 64%);
    }

    button{
        display: block;
        border: none;
        width: 92%;
        margin-left: 15px;
        background-color: hsl(245, 75%, 52%);
        padding: 15px;
        border-radius: 10px;
        color: #fff;
        box-shadow: 0px 20px 20px  rgba(0,0,0,.3) ;
    }

    button:hover{
        background-color: hsl(245, 74%, 64%);
        cursor:pointer;
    }

    .sec-link{
        display: inline-block;
        text-decoration: none;
        margin: 25px 10px 0px 0px;
        color: hsl(224, 23%, 55%);
        font-weight: 700;
    }

    .sec-link:hover{
        color: hsl(223, 47%, 23%);
    }
}